<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466266370604-j29qccohb2lroh25i3hqrl2dufc9j8gu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466266370604-j29qccohb2lroh25i3hqrl2dufc9j8gu</string>
	<key>API_KEY</key>
	<string>AIzaSyCxoE-COCdqUkFKG9P8excDzB73nIJpSLA</string>
	<key>GCM_SENDER_ID</key>
	<string>466266370604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastcampus.rn.app</string>
	<key>PROJECT_ID</key>
	<string>testproject-1fd1e</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-1fd1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466266370604:ios:4cc10a8da48ba6dcff5789</string>
</dict>
</plist>